<% content_for :title, "Modifier l’événement" %>
<div class="container py-4">
  <h1 class="h3 mb-4">Modifier l’événement</h1>
  <%= render "form", event: @event %>
  <div class="mt-3 d-flex gap-3">
    <%= link_to "Voir l’événement", @event, class: "link-light" %>
    <%= link_to "Retour à la liste", events_path, class: "link-light" %>
  </div>
</div>
